@charset "UTF-8";
   *{margin: 0; padding: 0; box-sizing: border-box;}
        section {
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            box-shadow: 5px 5px 10px rgb(192, 192, 192) ;
            padding: 50px 0;
        }
        table {
            border-collapse: collapse;
            width: 80%;
            margin: 0 auto;
            border-left: none;
            border-right: none;
        }
        thead th {
            padding: 10px 0;
            border-left: none;
            border-right: none;
        }
        td{
            text-align: center;
            padding: 5px 0;
            border-left: none;
            border-right: none;
        }
        a { color: black; text-decoration: none;}